{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PrestApp | Iniciar sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Relación con el archivo de icono -->
    <link rel="icon" type="image/x-icon" href="{% static 'app/img/favicon.ico' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS PROPIO -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="card shadow login-card">
    
<div class="login-header">
    <div class="overlay">
        <h4>PrestApp</h4>
        <small>Sistema de Gestión de Préstamos</small>
    </div>
</div>


    <div class="card-body p-4 bg-light">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-4">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary btn-login">
                    Ingresar
                </button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
