
{% load static %}
{% extends "app/base.html" %}
{% block content %}

<h3>Retiro Justificado - {{ ruta.nombre }}</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Monto</label>
        <input type="number" name="monto" step="0.01" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Motivo</label>
        <textarea name="motivo" class="form-control" required></textarea>
    </div>

    <button class="btn btn-danger">Registrar retiro</button>
</form>

{% endblock %}
